@page
@model RazorPagesContacts.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Translate</h1>
<form method="post">
    <div asp-validation-summary="All"></div>
        <div>
            <textarea asp-for="Customer.From" rows="5" cols="40"></textarea>
            <span asp-validation-for="Customer.From"></span>
        </div>
    <div>
        <textarea rows="5" cols="40">@Model.Message</textarea>
        <textarea asp-for="Customer.To" rows="5" cols="40"></textarea>
  </div>
 
    <div>
        <button type="submit">Save</button>
    </div>
</form>